# ls -al and then comment out files that we DO want
.claude
.DS_Store
.git
.github
.gitignore
.npmignore
.prettierrc.mjs
benchmarks
build.mjs
CHANGELOG.md
CLAUDE.md
CONTRIBUTING.md
docs
eslint.config.mjs
jest.config.mjs
#lib
#LICENSE
node_modules
#package.json
#README.md
SECURITY.md
src
tsconfig.base.json
tsconfig.cjs.json
tsconfig.json
tsconfig.mjs.json
typedoc.json
yarn.lock

# DEFAULTS --

# Account key
*serviceAccountKey*

.npmrc
.nvmrc
build/docs
docs

# not safe to publish patches and doesn't work
patches/*

test
**/*.spec.*
coverage
.nyc_output
jest.config.mjs

tsconfig.json
tsconfig.*.json
tslint.json

.github

.circleci
.travis.yml

.prettierignore
.vscode
.idea
.editorconfig

*.log
